<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>MyTransports</title>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <h1 id='title'>Click me</h1>
  <script>
    $('h1#title').click((e) => {
      $.get('/hello_world', (data) => {
        $('h1#title').text(data);
      });
    });
  </script>
</body>
</html>
